body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d3d3d3; /* Gris souris */
}

header {
    background-color: #494747; /* Gris 10 fois plus foncé */
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    color: #fff; /* Blanc pour contraster avec le bandeau foncé */
    margin: 0;
}

.site-button-bright {
    background-color: #fff; /* Couleur de fond */
    color: #494747; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Suppression de la décoration de texte */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Coins arrondis */
}

    .site-button-bright:hover {
        background-color: #333; /* Couleur de fond au survol */
        color: #fff; /* Couleur du texte au survol */
    }

.site-button-dark {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Suppression de la décoration de texte */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Coins arrondis */
}

    .site-button-dark:hover {
        background-color: #d3d3d3; /* Couleur de fond au survol */
        color: #494747; /* Couleur du texte au survol */
    }

.back-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.signup-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logout-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Ajuster la hauteur pour exclure le header */
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #494747;
    color: #fff;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #333;
    }
